<!-- Brand title -->
<div class="staticNav"></div>
<div class="brandTitle hidden-xs" id="masterBrandTitle">
    <div class="wrapperBrand">
        <div class="headTitle yellowFont">JMHermanos</div>
        <div class="headDescription whiteFont">20 Años de experiencia en Albañileria</div>
    </div>
</div>
