<!-- PARCELAS -->
<div class="col-md-6">

    <div class="imageblock img-responsive CenterNavbar-xs CenterNavbar-sm rightNavbar-md rightNavbar-lg">
        <img src="img\misTrabajos\muro.jpeg" alt="paisaje" class="img-responsive" />
        <div class="textWrapper img-responsive">

            <div class="firstCol white text-right centerInsideV">
                <div class="item grayFont bold" id="parcelaTitulo" runat="server">Parcela</div>
                <div class="price grayFont bold" id="precioParcela" runat="server">300 €</div>
                <a href="@Resources.Routes.urlTrabajos/@Resources.Routes.urlParcela" class="link blackFont bold">VER MAS&nbsp;&nbsp;<span class="fa fa-arrow-circle-right"></span></a>
            </div>

            <div class="secondCol gray text-center centerInsideV">
                <span>P</span>
            </div>

        </div>
        <!-- end textWrapper -->
    </div>
    <!-- end imageblock -->
</div>
<!-- end PARCELAS col-lg-6 -->
<!-- FACHADA -->
<div class="col-md-6">

    <div class="imageblock img-responsive CenterNavbar-xs CenterNavbar-sm leftNavbar-md leftNavbar-lg">
        <img src="img\misTrabajos\fachada.jpeg" alt="paisaje" class="img-responsive" />

        <div class="textWrapper img-responsive">

            <div class="firstCol white text-right centerInsideV">
                <div class="item grayFont bold" id="fachadaTitulo" runat="server">Fachada</div>
                <div class="price yellowFont bold" id="precioFachada" runat="server">800 €</div>
                <a href="@Resources.Routes.urlTrabajos/@Resources.Routes.urlFachadas" class="link blackFont bold">VER MAS&nbsp;&nbsp;<span class="fa fa-arrow-circle-right"></span></a>
            </div>

            <div class="secondCol yellow text-center centerInsideV">
                <span>F</span>
            </div>

        </div>
        <!-- end textWrapper -->
    </div>
    <!-- end imageblock -->
</div>
<!-- FACHADA col-lg-6 -->
