
@{
    ViewBag.Title = Resources.Routes.titleTrabajos;
    ViewBag.MetaDescription = Resources.Routes.metaConocenos;
}
@Html.Partial("_BrandPicture")

<!-- CONOCENOS ===================================================-->
<div class="container-fluid placeHolder">
    <div class="wrapper CenterNavbar">
        <h2 class="strongGreenFont text-center" id="menuNuestrosTrabajos" runat="server">Conocenos</h2>
        <h3 class="text-center" id="globalNuetrosTrabajos" runat="server">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sapiente voluptatem, ratione vitae autem earum ipsam non id! Suscipit, odio.</h3>
    </div>

    CONTENT HERE

</div>
<!-- end container-fluid -->
