
@{
    ViewBag.Title = Resources.Routes.titlePresupuesto;
    ViewBag.MetaDescription = Resources.Routes.metaPresupuesto;
}
@Html.Partial("_BrandPicture")

@*TU PRESUPUESTO =======================*@
<div class="container-fluid placeHolder" id="todosTrabajos">
    <div class="wrapper CenterNavbar">
        <h2 class="strongGreenFont text-center" id="menuNuestrosTrabajos" runat="server">PRESUPUESTOS</h2>
        <h3 class="text-center" id="globalNuetrosTrabajos" runat="server">Aqui podras calcular tu presupuesto</h3>
    </div>
    <img src="img/pagina-web-en-construccion_8329.jpg" class="img-responsive center-block m60" alt="en construcción" />
    <div class=" textWrapper CenterNavbar">
        <h4>Esta pagina esta en construcción. Dentro de poco podras calcular el precio aproximado de tu reforma.</h4>
        <h4>Sin embargo, puedes contactarnos<a href="contacto.aspx"> aqui </a>o enviarnos un correo a : info@jmhermanos.es </h4>
    </div>
</div>
