
@{
    ViewBag.Title = Resources.Routes.titleInteriores;
    ViewBag.MetaDescription = Resources.Routes.metaInteriores;
}
@Html.Partial("_BrandPicture")

@*INTERIORES ==============================================*@
<div class="wrapperHeading placeHolderTitle lightGreen">
    <h2 class="text-center yellowFont" id="interiorTitulo" runat="server">Interiores</h2>
    <h3 class="text-center whiteFont" id="interiorTexto" runat="server">Consectetur adipiscing elit fusce vel.</h3>
</div>

<div class="container-fluid" id="bigImages">


    <div class="row">
        <!-- first row -->

        <div class="col-sm-6">
            <div class="wrapper rightNavbar pLeft20 mtop50-lg mtop50-md">
                <div class="titleSubCocina">
                    <h3 class="bold" id="picture1Titulo" runat="server">TITULO 1</h3>
                </div>
                <p class="grayFont bold text-justify m20" id="picture1Texto" runat="server">
                    Vveritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni do
                </p>
                <a href="trabajos.aspx">
                    <p class="yellowFont bold m50-xs">MAS TRABAJOS</p>
                </a>

            </div>
            <!-- end wrapper -->
        </div>
        <!-- end col1 -->

        <div class="col-sm-6 m60-xs">
            <img class="leftNavbar img-responsive" src="~/img/trabajos500/parcelaYPiscinaYmuro-assets/parcelaChimenea.jpeg" alt="image1" />
        </div>
        <!-- end col2 -->

    </div>
    <!-- end first row -->

    <div class="row">
        <!-- second row / Inverse-->

        <div class="col-sm-6 col-sm-push-6">
            <div class="inverseWrapper pRight20 mtop50-lg mtop50-md">
                <div class="titleSubCocina">
                    <h3 class="bold text-center" id="picture2Titulo" runat="server">TITULO 2</h3>
                </div>
                <p class="grayFont bold text-justify m20" id="picture2Texto" runat="server">
                    Vveritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni do
                </p>
                <a href="trabajos.aspx">
                    <p class="yellowFont bold m50-xs">MAS TRABAJOS</p>
                </a>
            </div>
            <!-- end wrapper -->
        </div>
        <!-- end col-sm-6 -->

        <div class="col-sm-6 col-sm-pull-6 m60-xs">
            <img class="rightNavbar img-responsive" src="~/img/trabajos500/parcelaYPiscinaYmuro-assets/parcelaEscalera.jpeg" alt="imagen2" />
        </div>
        <!-- end con-sm-6 -->
    </div>
    <!-- end row second-->

    <div class="row">
        <!-- third row -->

        <div class="col-sm-6">
            <div class="wrapper rightNavbar pLeft20 mtop50-lg mtop50-md">
                <div class="titleSubCocina">
                    <h3 class="m50 bold text-center h3Border" id="picture3Titulo" runat="server">TITULO 3</h3>
                </div>
                <p class="grayFont bold text-justify m20" id="picture3Texto" runat="server">
                    Vveritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni do
                </p>
                <a href="trabajos.aspx">
                    <p class="yellowFont bold m50-xs">MAS TRABAJOS</p>
                </a>
            </div>
            <!-- end wrapper -->
        </div>
        <div class="col-sm-6 m60-xs">
            <img class="leftNavbar img-responsive" src="~/img/trabajos500/parcelaYPiscinaYmuro-assets/parcela500.jpeg" alt="imagen3" />
        </div>

    </div>
    <!-- end third row -->

</div>
<!-- end container-fluid -->

<div class="lastColumn lightGreen"></div>

